<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} WebServer (v.{{ version }})</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <!-- Custom styles for this template -->
    <link href="{% static "open-iconic/css/open-iconic-bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/sticky-footer-navbar.css" %}" rel="stylesheet">
</head>
<body>

{% block navbar %}
{% endblock %}

<div class="container-fluid">
    <div class="d-flex" style="font-size: 0.8rem;">
        <div class="p-2">Concurrent executions:  {{ server_load }}</div>
        <div class="ml-auto p-2" style="text-align: right">Software release: {{ version }} <br> Webserver
            release: {{ version_webserver }}</div>
    </div>
    <hr>
</div>

<div class="container-fluid">
    {% block form %}
    {% endblock %}
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="p-2" style="font-size: 0.9rem;">© 2018 <a href="http://lorenzogatti.me" target="_blank"> Lorenzo Gatti </a> & <a href="https://www.zhaw.ch/de/ueber-uns/person/maio/" target="_blank"> Massimo Maiolo </a>. All rights
            reserved
        .</div>
    <div class="my-2 my-lg-0" style="font-size: 0.8rem; text-align: right">miniJATI is the result of a collaborative
        effort and it
        is currently under
        development.<br> The results generated with it cannot be guaranteed. Use at your own risk.
    </div>

</nav>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>