{% extends 'navbar.html' %}
{% block form %}

<h3 id="inferring-an-alignmenttree-under-pipjc69-using-a-nucleotide-dataset">1.1: Inferring an alignment+tree under PIP+JC69 using a nucleotide dataset</h3>
<ul>
<li><strong>Dataset:</strong> brca1_300nt.fa</li>
<li><strong>Initial tree:</strong> Distance based tree (BioNJ) with LZ distance matrix</li>
<li><strong>Model:</strong> Meta-model PIP+JC69 with initial parameter values lambda=0.1 and mu=0.2</li>
<li><strong>Optimization 1:</strong> Using numerical derivatives for the numerical parameters</li>
<li><strong>Optimization 2:</strong> Topology optimised using 'Hillclimbing' algorithm, tree-rearrangements operations: &quot;Best&quot;</li>
</ul>
<hr />
<h3 id="inferring-an-alignmenttree-under-pipjc69-using-a-protein-dataset">1.2: Inferring an alignment+tree under PIP+JC69 using a protein dataset</h3>
<ul>
<li><strong>Dataset:</strong> gp120_small_notaligned.fa</li>
<li><strong>Initial tree:</strong> Distance based tree (BioNJ) with LZ distance matrix</li>
<li><strong>Model:</strong> Meta-model PIP+JC69 with initial parameter values lambda=0.1 and mu=0.2</li>
<li><strong>Optimization 1:</strong> Using numerical derivatives for the numerical parameters</li>
<li><strong>Optimization 2:</strong> Topology optimised using 'Hillclimbing' algorithm, tree-rearrangements operations: &quot;Best&quot;</li>
</ul>
<hr />
<h3 id="inferring-a-tree-topology-under-pip-using-a-protein-dataset-expert">1.3: Inferring a tree topology under PIP using a protein dataset (expert)</h3>
<ul>
<li><strong>Dataset:</strong> gp120_small_aligned.fa</li>
<li><strong>Initial tree:</strong> Distance based tree (BioNJ) with LZ distance matrix</li>
<li><strong>Model:</strong> Meta-model PIP+... with initial parameter values lambda=0.1 and mu=0.2</li>
<li><strong>Optimization 1:</strong> Using numerical derivatives for the numerical parameters</li>
<li><strong>Optimization 2:</strong> Topology optimised using 'Hillclimbing' algorithm, tree-rearrangements operations: &quot;Best&quot;</li>
</ul>
<hr />
<h3 id="align-a-dataset-using-prior-knowledge-on-the-tree-topology">2.1: Align a dataset using prior knowledge on the tree topology</h3>
<ul>
<li><strong>Dataset:</strong> shh_small.fa</li>
<li><strong>Initial tree:</strong> shh.nwk</li>
<li><strong>Model:</strong> Meta-model PIP+... with initial parameter values lambda=0.1 and mu=0.2</li>
<li><strong>Optimization 1:</strong> Using numerical derivatives for the numerical parameters</li>
<li><strong>Optimization 2:</strong> Topology optimised using 'Hillclimbing' algorithm, tree-rearrangements operations: &quot;Best&quot;</li>
</ul>


{% endblock %}

