{% extends 'navbar.html' %}

{% block title %}Login{% endblock %}
{% load static %}
{% block form %}
    <legend><b>Execution list for the current user</b></legend>
    <div class="col-sm-12">
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">UUID</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Executing on</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>

            {% for item in records %}

                <tbody>
                <tr>
                    <td><a href="{% url 'processing' item.0 %}">{{ item.0 }}</a></td>
                    <td>  {{ item.1 }}  </td>
                    <td>  {{ item.2 }}  </td>
                    <td>  {{ item.5 }}  </td>
                    {% if item.7 == 1 %}
                        <td>  <span class="oi oi-circle-x" style="color:red"></span></td>
                    {% elif item.7 == 0 %}
                        <td>  <span class="oi oi-circle-check" style="color:green"></span></td>
                    {% else %}
                        <td>  <span class="oi oi-pulse" style="color:orange"></span></td>
                    {% endif %}
                    <td scope="row">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a class="btn btn-secondary" href="{% url 'kill' item.0 %}"><span class="oi oi-ban"></span></a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a class="btn btn-secondary" href="{% url 'processing' item.0 %}"><span class="oi oi-dashboard"></span></a>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <a class="btn btn-secondary" href="{% url 'pack' item.0 %}"><span class="oi oi-cloud-download"></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>

            {% endfor %}

            <tr>
                <td colspan="6">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-secondary" onclick="deleteRecordsndRefresh()">Clear completed processes</button>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>


<script>

    function deleteRecordsndRefresh(){
        window.open("{% url 'clearuserprocesses' %}", '_blank');
        location.reload();
    }

</script>
{% endblock %}