{% extends 'navbar.html' %}

{% block form %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li id="tabInput"><a class="page-link" href="#" onclick="show_Tab(1);">Input data</a></li>
            <li id="tabAlignment"><a class="page-link" href="#" onclick="show_Tab(2);">Alignment</a></li>
            <li id="tabSites"><a class="page-link" href="#" onclick="show_Tab(3);">Select sites</a></li>
            <li id="tabTree"><a class="page-link" href="#" onclick="show_Tab(4);">Initial tree</a></li>
            <li id="tabModel"><a class="page-link" href="#" onclick="show_Tab(5);">Substitution model</a></li>
            <li id="tabOpt"><a class="page-link" href="#" onclick="show_Tab(6);">Parameter optimization</a></li>
            <li id="tabOutput"><a class="page-link" href="#" onclick="show_Tab(7);">Output files</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-6">
            {% csrf_token %}
            <form id="mainform" class="needs-validation" method="post" enctype="multipart/form-data" action="{% url 'submit' %}" validate>

                <div class="content-fluid" id="inputdata" style="{{ tab_input }}">
                    <legend><b>Input data</b></legend>
                    <div class="form-row align-items-center">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-1" for="inputdata_alphabet">Data type:</label>
                            <select class="custom-select my-1 mr-sm-2" id="inputdata_alphabet" name="inputdata_alphabet"
                                    onchange="show_ModelCategories(this);"
                                    value=""
                                    oninvalid="alert('You must fill out the Alphabet of your dataset!');">
                                <option value="">Select an alphabet</option>
                                <option value="DNA">DNA</option>
                                <option value="RNA">RNA</option>
                                <option value="Protein">Aminoacids</option>
                                <option value="Word">Codons</option>
                            </select>
                        </div>

                        <div class="col-sm-12 my-1">
                            <label for="inputdata_file" class="col-sm-12 col-form-label">Input file</label>
                            <div class="col-sm-12">
                                <input type="file"
                                       class="file"
                                       id="inputdata_filename"
                                       name="inputdata_filename"
                                       data-show-preview="false"
                                       value=""
                                       oninvalid="alert('You must upload a valid sequence dataset!');" required>
                                <label class="custom-file-label" for="inputdata_filename">Choose file</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="content-fluid" id="alignment" style="{{ tab_alignment }}">
                    <legend><b>Alignment</b></legend>

                    <div class="alert alert-secondary" role="alert">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="alignment_execute" id="alignment_execute" value="yes">
                            <label class="form-check-label" for="alignment_execute">Align input sequences using
                                pPIP</label>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            <label for="alignment_profiler_filename">
                                Alignment profiler filename: <span class="badge badge-info">Debug</span>
                            </label>
                            <input type="text" class="form-control" id="alignment_profiler_filename" name="alignment_profiler_filename" placeholder="alignment_profiler.log" value="">
                        </div>
                    </div>


                </div>

                <div class="content-fluid" id="sites" style="{{ tab_sites }}">
                    <legend><b>Select sites to analyse</b></legend>

                    <div class="form-row align-items-center">
                        <div class="col-sm-4 my-1">
                            <label class="sr-only" for="sites_settoconsider">Sites to use:</label>
                            <select class="custom-select my-1 mr-sm-2" id="sites_settoconsider" name="sites_settoconsider" value="">
                                <option value="all" selected>All sites</option>
                                <option value="complete">Only complete sites</option>
                                <option value="nogaps">No gaps</option>
                            </select>
                        </div>

                        <div class="col-auto my-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="sites_removestopcodons" name="sites_removestopcodons" value="yes">
                                <label class="form-check-label" for="sites_removestopcodons">
                                    Remove stop codons
                                </label>
                            </div>
                        </div>

                    </div>


                    <div class="form-row align-items-center" id="opt_eval_tolerance">
                        <div class="col-sm-4 my-1">
                            <label for="site_gapsproportion">
                                Max % of gaps allowed
                            </label>
                            <input type="text" class="form-control" id="site_gapsproportion" name="site_gapsproportion" placeholder="100" value="">
                        </div>
                        <div class="col-sm-4 my-1">
                            <label for="site_unresolvedproportion">
                                Max % of unresolved sites
                            </label>
                            <input type="text" class="form-control" id="site_unresolvedproportion" name="site_unresolvedproportion" placeholder="100" value="">
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            <label for="sites_manualselection">
                                Site selection (list of sites, or random sample)
                            </label>
                            <input type="text" class="form-control" id="sites_manualselection" name="sites_manualselection" placeholder="Sample(n={integer} [, replace={true}])}" value="">
                        </div>
                    </div>

                </div>


                <div class="content-fluid" id="tree" style="{{ tab_initialtree }}">
                    <legend><b>Initial tree and branch lenghts</b></legend>

                    <div class="form-row align-items-center" id="inittree_method_d">
                        <div class="col-sm-6 my-1">
                            <label class="mb-2 mr-sm-2" for="inittree_method">
                                Method:
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="inittree_method" name="inittree_method" onchange="show_inittree_method(this);" value="">
                                <option value="" selected>Choose an option...</option>
                                <option value="user">User file</option>
                                <option value="random">Generate random tree</option>
                                <option value="distance">Infer using a distance method</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-row align-items-center" id="inittree_method_distance">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="inittree_method_distance_alg">
                                Distance method:
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="inittree_method_distance_alg" name="inittree_method_distance_alg">
                                <option value="" selected>Choose an option...</option>
                                <option value="wpgma">WPGMA</option>
                                <option value="upgma">UPGMA</option>
                                <option value="nj">NJ</option>
                                <option value="bionj" selected>Bio-NJ</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row align-items-center" id="inittree_method_random">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="inittree_method_random_bl">
                                Draw branch lengths using:
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="inittree_method_random_bl" name="inittree_method_random_bl" onchange="set_RandomBLMethodDesc(this)" value="">
                                <option value="" selected>Choose an option...</option>
                                <option value="equal">Equal</option>
                                <option value="clock">Clock</option>
                                <option value="grafen">Grafen</option>
                                <option value="input">Input</option>
                            </select>
                        </div>
                        <div class="col-sm-8 my-1">
                            <label for="inittree_method_random_bl_desc">
                                Options:
                            </label>
                            <input type="text" class="form-control" id="inittree_method_random_bl_desc"
                                   placeholder="">
                        </div>


                    </div>

                    <div class="form-row align-items-center" id="inittree_method_user">
                        <div class="col-sm-12 my-1">
                            <label for="inputdata_tree" class="col-sm-12 col-form-label">Input tree file</label>
                            <div class="col-sm-12">
                                <input type="file" class="custom-file-input" name="inittree_method_user_filename" id="inittree_method_user_filename">
                                <label class="custom-file-label" for="inittree_method_user_filename">Choose file</label>
                            </div>
                        </div>
                    </div>


                    <hr>
                    <legend><b>Distance matrix</b></legend>

                    <div class="alert alert-secondary" role="alert">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="distancematrix_execute" id="distancematrix_execute"
                                   value="yes" onchange="show_inputDataDistanceMatrix(this);">
                            <label class="form-check-label" for="distancematrix_execute">
                                Compute distance matrix using the unaligned sequences
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12 my-1" id="inputdata_distmatrix_d">
                        <label for="inputdata_distmatrix" class="col-sm-12 col-form-label">Distance matrix file</label>
                        <div class="col-sm-12">
                            <input type="file" class="custom-file-input" id="inputdata_distmatrix_filename" name="inputdata_distmatrix_filename">
                            <label class="custom-file-label" for="inputdata_distmatrix_filename">Choose file</label>
                        </div>
                    </div>

                </div>


                <div class="content-fluid" id="submodel" style="{{ tab_submodel }}">
                    <legend><b>Character frequency distribution set</b></legend>


                    <div class="form-row align-items-center" id="submodel_frequencyset_d">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="submodel_frequencyset_predefined">
                                Select an option:
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="submodel_frequencyset_predefined" name="submodel_frequencyset_predefined"
                                    onchange="set_frequencySet(this);">
                                <option value="" selected>Choose an option...</option>
                                <option value="empty">Not specified</option>
                                <option value="fixed">Fixed</option>
                                <option value="gc">GC</option>
                                <option value="full">Full parametrized</option>
                            </select>
                        </div>
                        <div class="col-sm-8 my-1">
                            <label for="submodel_frequencyset_desc">
                                <br>
                            </label>
                            <input type="text" class="form-control" id="submodel_frequencyset_desc" name="submodel_frequencyset_desc" placeholder="" value="">
                        </div>

                    </div>


                    <hr>

                    <legend><b>Among site rate variation distribution (ASVR)</b></legend>
                    <div class="form-row align-items-center" id="submodel_asvr_d">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="submodel_asvr_predefined">
                                Select an option:
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="submodel_asvr_predefined" onchange="set_asvrDistribution(this);">
                                <option value="" selected>Select an option...</option>
                                <option value="constant">Constant</option>
                                <option value="gamma">Gamma distribution (+G)</option>
                                <option value="invariant">Invariant (+I)</option>
                                <option value="others">Custom...</option>
                            </select>
                        </div>
                        <div class="col-sm-8 my-1">
                            <label for="submodel_asvr_desc">
                                <br>
                            </label>
                            <input type="text" class="form-control" id="submodel_asvr_desc" name="submodel_asvr_desc" placeholder="" value="">
                        </div>

                    </div>
                    <hr>


                    <legend><b>Substitution model</b></legend>
                    <div class="form-row align-items-center" id="submodel_model_d">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="submodel_model_predefined">
                                Select an option:
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="submodel_model_predefined"
                                    onchange="set_Model(this);"
                                    oninvalid="alert('You must select a substitution model!');" required>
                                <option value="" selected>Select an option...</option>
                                <optgroup label="Nucleotide" id="nucleotides">
                                    <option value="JC69">JC69</option>
                                    <option value="K80">K80</option>
                                    <option value="F84">F84</option>
                                    <option value="HKY85">HKY85</option>
                                    <option value="T92">T92</option>
                                    <option value="TN93">TN93</option>
                                    <option value="GTR">GTR</option>
                                    <option value="L95">L95</option>
                                    <option value="SSR">SSR</option>
                                    <option value="RN95">RN95</option>
                                    <option value="RN95s">RN95s</option>
                                </optgroup>
                                <optgroup label="Aminoacids" id="aminoacids">
                                    <option value="JC69">JC69</option>
                                    <option value="DSO78">DSO78</option>
                                    <option value="JTT92">JTT92</option>
                                    <option value="WAG01">WAG01</option>
                                    <option value="LG08">LG08</option>
                                    <option value="LLG08_EX2">LLG08_EX2</option>
                                    <option value="LLG08_EX3">LLG08_EX3</option>
                                    <option value="LLG08_EHO">LLG08_EHO</option>
                                    <option value="LLG08_UL2">LLG08_UL2</option>
                                    <option value="LLG08_UL3">LLG08_UL3</option>
                                    <option value="LGL08_CAT">LGL08_CAT</option>
                                    <option value="LGL08_CAT_C">LGL08_CAT_C</option>
                                    <option value="DSO78_F">DSO78+F</option>
                                    <option value="JTT92_F">JTT92+F</option>
                                    <option value="WAG01_F">WAG01+F</option>
                                    <option value="LG08_F">LG08+F</option>
                                    <option value="Empirical">Empirical</option>
                                    <option value="Empirical_F">Empirical+F</option>
                                </optgroup>
                                <optgroup label="Meta-models" id="meta_models">
                                    <option value="pip">PIP</option>
                                    <option value="ts98">TS98</option>
                                    <option value="g01">G01</option>
                                    <option value="re08">RE08</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-sm-8 my-1">
                            <label for="submodel_model_desc">
                                <br>
                            </label>
                            <input type="text" class="form-control" id="submodel_model_desc" name="submodel_model_desc" placeholder="" value="">
                        </div>

                    </div>
                </div>


                <div class="content-fluid" id="optimisation" style="{{ tab_paropt }}">
                    <legend><b>Numerical parameter optimization options</b></legend>

                    <div class="alert alert-secondary" role="alert">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="option_derivative_numerical"
                                   id="option_derivative_numerical"
                                   value="numerical" onchange="show_NumDeriv(this);" checked>
                            <label class="form-check-label" for="inlineRadio1">Numerical derivatives</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="option_derivative_analytical"
                                   id="option_derivative_analytical"
                                   value="analytical" onchange="show_AnalyticDeriv(this)">
                            <label class="form-check-label" for="inlineRadio2" ;>Analytical derivatives</label>
                        </div>

                    </div>

                    <div class="form-row align-items-center" id="analytical_d">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="numopt_method">Method for model parameter:</label>
                            <select class="custom-select my-1 mr-sm-2" id="numopt_method" name="numopt_method">
                                <option value="FullD" selected>FullD</option>
                                <option value="D-Brent">D-Brent</option>
                                <option value="D-BFGS">D-BFGS</option>
                            </select>
                        </div>
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="numopt_method_bl">Method for branch lengths:</label>
                            <select class="custom-select my-1 mr-sm-2" id="numopt_method_bl" name="numopt_method_bl">
                                <option value="Newton" selected>Newton</option>
                                <option value="Gradient">Gradient</option>
                                <option value="BFGS">BFGS</option>
                            </select>
                        </div>
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="numopt_method_final">Final optimization step:</label>
                            <select class="custom-select my-1 mr-sm-2" id="numopt_method_final" name="numopt_method_final">
                                <option value="powell">Powell</option>
                                <option value="simplex">Simplex</option>
                                <option value="bfgs" selected>BFGS</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-row align-items-center" id="numerical_d">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="numopt_method">Method for model parameter:</label>
                            <select class="custom-select my-1 mr-sm-2" id="numopt_method" name="numopt_method">
                                <option value="ND-Brent">ND-Brent</option>
                                <option value="ND-BFGS">ND-BFGS</option>
                            </select>
                        </div>
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="numopt_method_bl">Method for branch lengths:</label>
                            <select class="custom-select my-1 mr-sm-2" id="numopt_method_bl" name="numopt_method_bl">
                                <option value="Newton" selected>Newton</option>
                                <option value="Gradient">Gradient</option>
                                <option value="BFGS">BFGS</option>
                                <option value="BFGS">Brent</option>

                            </select>
                        </div>
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="numopt_method_final">Final optimization step:</label>
                            <select class="custom-select my-1 mr-sm-2" id="numopt_method_final" name="numopt_method_final>
                                <option value=" powell">Powell</option>
                            <option value="simplex">Simplex</option>
                            <option value="bfgs" selected>BFGS</option>
                            </select>
                        </div>

                    </div>
                    <div class="alert alert-warning" role="alert">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="opt_reparametrization"
                                   id="opt_reparametrization"
                                   value="yes">
                            <label class="form-check-label" for="opt_reparametrization">
                                Allow parameter reparametrization via log transformation</label>
                        </div>

                    </div>

                    <div class="form-row align-items-center" id="opt_eval_tolerance">

                        <div class="col-sm-6 my-1">
                            <label for="gridCheck">
                                Log-likelihood precision
                            </label>
                            <input type="text" class="form-control" id="opt_eval_likelihoodprecision" name="opt_eval_likelihoodprecision" placeholder="0.0001" value="">
                        </div>
                        <div class="col-sm-6 my-1">
                            <label for="gridCheck">
                                Max # evaluations
                            </label>
                            <input type="text" class="form-control" id="opt_eval_maxevaluations" name="opt_eval_maxevaluations" placeholder="1000" value="">
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            <label for="gridCheck">
                                Apply constraints to the following parameters:
                            </label>
                            <input type="text" class="form-control" id="opt_parameter_constraints" name="opt_parameter_constraints"
                                   placeholder=" YN98.omega = [-inf;1.9[, *theta* = [0.1;0.7[, BrLen*=[0.01;inf]" value="">
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            <label for="gridCheck">
                                Exclude the following parameters from optimization:
                            </label>
                            <input type="text" class="form-control" id="opt_parameter_ignore" name="opt_parameter_ignore" placeholder="BrLen,Model" value="">
                        </div>
                    </div>


                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            <label for="gridCheck">
                                Optimization profiler filename: <span class="badge badge-info">Debug</span>
                            </label>
                            <input type="text" class="form-control" id="optimization_profiler_filename"
                                   name="optimization_profiler_filename"
                                   placeholder="optimization_profiler.log" value="">
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            <label for="gridCheck">
                                Optimization message handler filename: <span class="badge badge-info">Debug</span>
                            </label>
                            <input type="text" class="form-control" id="optimization_messagehandler_filename"
                                   name="optimization_messagehandler_filename"
                                   placeholder="optimization_errors.log" value="">
                        </div>
                    </div>

                    <hr>


                    <legend><b>Topology optimization options</b></legend>

                    <div class="alert alert-secondary" role="alert">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="opt_topology_execute"
                                   id="opt_topology_execute"
                                   value="yes" onchange="show_TopologyOptimization(this)">
                            <label class="form-check-label" for="opt_topology_execute">Optimise tree topology</label>
                        </div>


                    </div>

                    <div id="opt_topology">
                    <div class="form-row align-items-center" id="opt_topology_algorithm">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="opt_topology_algorithm_desc">Tree-search algorithm:</label>
                            <select class="custom-select my-1 mr-sm-2" id="opt_topology_algorithm_desc" name="opt_topology_algorithm_desc"
                                    onchange="show_HillClimbingNumNodes(this);">
                                <option value="greedy">Greedy</option>
                                <option value="hillclimbing">Hillclimbing</option>
                                <option value="swarm">Swarm particle</option>
                            </select>
                        </div>

                        <div class="col-sm-2 my-1" id="hillclimbing_startnodes_d">
                            <label for="opt_topology_algo_hillclimbing_startnodes">
                                # nodes
                            </label>
                            <input type="text" class="form-control" id="opt_topology_algo_hillclimbing_startnodes" name="opt_topology_algo_hillclimbing_startnodes" value="4">
                        </div>

                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="opt_topology_rearrangments">Rearrangement operations:</label>
                            <select class="custom-select my-1 mr-sm-2" id="opt_topology_rearrangments" name="opt_topology_rearrangments">
                                <option value="nni-search" selected>NNI</option>
                                <option value="spr-search">SPR</option>
                                <option value="tbr-search">TBR</option>
                                <option value="best-search">BEST</option>
                            </select>
                        </div>

                        <div class="col-sm-2 my-1">
                            <label for="opttop_maxiterations">
                                Max # cycles
                            </label>
                            <input type="text" class="form-control" id="opttop_maxiterations" name="opttop_maxiterations" value="100">
                        </div>

                    </div>

                    <div class="form-row align-items-center" id="opt_topology_BrLen_algorithm">
                        <div class="col-sm-6 my-1">
                            <label class="mb-6 mr-sm-1" for="opttop_method_bl">Method for branch lengths:</label>
                            <select class="custom-select my-1 mr-sm-2" id="opttop_method_bl" name="opttop_method_bl">
                                <option value="Newton">Newton</option>
                                <option value="Gradient">Gradient</option>
                                <option value="Brent" selected>Brent</option>
                                <option value="BFGS">BFGS</option>
                            </select>
                        </div>
                    </div>

                    </div>

                    <hr>


                    <legend><b>Alignment optimisation options</b></legend>

                    <div class="alert alert-secondary" role="alert">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="optalig_algorithm_execute"
                                   id="optalig_algorithm_execute"
                                   value="yes" onchange="show_AlignmentOptimization(this)">
                            <label class="form-check-label" for="optalig_algorithm_execute">Optimise alignment</label>
                        </div>
                    </div>

                    <div id="opt_alignment">
                    <div class="form-row align-items-center" id="optalig_algorithm">
                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="optalig_algorithm_method">Alignment-search
                                algorithm:</label>
                            <select class="custom-select my-1 mr-sm-2" id="optalig_algorithm_method" name="optalig_algorithm_method">
                                <option value="greedy" selected>greedy</option>
                                <option value="fast">fast</option>
                            </select>
                        </div>

                        <div class="col-sm-4 my-1">
                            <label class="mb-2 mr-sm-2" for="optalig_algorithm_stop">Stop condition:</label>
                            <select class="custom-select my-1 mr-sm-2" id="optalig_algorithm_stop" name="optalig_algorithm_stop">
                                <option value="steps" selected>Steps</option>
                                <option value="tolerance" selected>Tolerance</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center" id="opt_eval_tolerance">

                        <div class="col-sm-6 my-1">
                            <label for="gridCheck">
                                Log-likelihood precision
                            </label>
                            <input type="text" class="form-control" id="opt_eval_tolerance" name="opt_eval_tolerance" placeholder="0.0001" value="">
                        </div>
                        <div class="col-sm-6 my-1">
                            <label for="gridCheck">
                                Max # evaluations
                            </label>
                            <input type="text" class="form-control" id="opt_eval_maxeval" name="opt_eval_maxeval" placeholder="1000" value="">
                        </div>
                    </div>
                    </div>
                </div>


                <div class="content-fluid" id="output" style="{{ tab_output }}">
                    <legend><b>Output file options</b></legend>
                    <div class="form-row align-items-center">

                        <div class="col-sm-6 my-1">
                            <label for="output_tree_filename">
                                Output tree filename
                            </label>
                            <input type="text" class="form-control" id="output_tree_filename" name="output_tree_filename" placeholder=" " value="">
                        </div>

                        <div class="col-sm-2 my-1">
                            <label class="mb-2 mr-sm-2" for="output_format_tree">
                                Format
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="output_format_tree" name="output_format_tree">
                                <option value="Newick" selected>Newick</option>
                                <option value="Nexus">Nexus</option>
                                <option value="NHX">NHX</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <label for="output_alignment_filename">
                                Output alignment filename
                            </label>
                            <input type="text" class="form-control" id="output_alignment_filename" name="output_alignment_filename" placeholder=" " value="">
                        </div>

                        <div class="col-sm-2 my-1">
                            <label class="mb-2 mr-sm-2" for="output_format_alignment">
                                Format
                            </label>
                            <select class="custom-select my-1 mr-sm-2" id="output_format_alignment" name="output_format_alignment">
                                <option value="Fasta" selected>Fasta</option>
                                <option value="Phylip">Phylip</option>
                                <option value="Mase">Mase</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gridCheck">
                                Output filename for parameter estimates
                            </label>
                            <input type="text" class="form-control" id="output_estimates_filename" name="output_estimates_filename" placeholder=" " value="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="output_info_filename">
                                Output filename for execution infos <span class="badge badge-info">Debug</span>
                            </label>
                            <input type="text" class="form-control" id="output_info_filename" name="output_info_filename" placeholder=" " value="">
                        </div>
                    </div>

                    <div class="alert alert-secondary" role="alert">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="output_package_execute"
                                   id="output_package_execute"
                                   value="yes" checked>
                            <label class="form-check-label" for="output_package_execute">Compress analysis in a
                                downloadable file ?</label>
                        </div>
                    </div>

                </div>

                <hr>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <input class="btn btn-primary" type="reset" value="Clear">
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <input class="btn btn-primary" type="submit" value="Start analysis">
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <input class="btn btn-secondary" value="Submit in batch" onclick="submit_BatchMode()">
                    </div>

                </div>

            </form>
        </div>
    </div>

    <script>
        function submit_BatchMode(){
                $('#mainform').attr('target','_blank')
                $('#mainform').attr('action','{% url "submitbatch" %}')
                $('#mainform').submit()
        }


        function show_Tab(id) {

            $("#inputdata").hide();
            $("#tabInput").removeClass("page-item");

            $("#alignment").hide();
            $("#tabAlignment").removeClass("page-item");

            $("#sites").hide();
            $("#tabSites").removeClass("page-item");

            $("#tree").hide();
            $("#tabTree").removeClass("page-item");

            $("#submodel").hide();
            $("#tabModel").removeClass("page-item");

            $("#optimisation").hide();
            $("#tabOpt").removeClass("page-item");

            $("#output").hide();
            $("#tabOutput").removeClass("page-item");


            switch (id) {
                case 1:
                    $("#inputdata").show();
                    $("#tabInput").addClass("page-item active")
                    break;
                case 2:
                    $("#alignment").show();
                    $("#tabAlignment").addClass("page-item active");

                    break;
                case 3:
                    $("#sites").show();
                    $("#tabSites").addClass("page-item active");

                    break;
                case 4:
                    $("#tree").show();
                    $("#tabTree").addClass("page-item active");

                    break;
                case 5:
                    $("#submodel").show();
                    $("#tabModel").addClass("page-item active");

                    break;
                case 6:
                    $("#optimisation").show();
                    $("#tabOpt").addClass("page-item active");

                    break;
                case 7:
                    $("#output").show();
                    $("#tabOutput").addClass("page-item active");

                    break;
                default:
                    $("#inputdata").show();
                    $("#tabInput").addClass("page-item active")

            }
        }

        function show_ModelCategories(object) {

            if (object.value == "DNA" || object.value == "RNA") {
                $("#submodel_model_predefined optgroup#nucleotides").prop('disabled', false);
                $("#submodel_model_predefined optgroup#aminoacids").prop('disabled', true);
                $("#submodel_model_predefined optgroup#meta_models").prop('disabled', false);


            } else if (object.value == "Protein") {
                $("#submodel_model_predefined optgroup#nucleotides").prop('disabled', true);
                $("#submodel_model_predefined optgroup#aminoacids").prop('disabled', false);
                $("#submodel_model_predefined optgroup#meta_models").prop('disabled', false);


            } else if (object.value == "Word") {
                $("#submodel_model_predefined optgroup#nucleotides").prop('disabled', true);
                $("#submodel_model_predefined optgroup#aminoacids").prop('disabled', true);
                $("#submodel_model_predefined optgroup#meta_models").prop('disabled', true);

            }

            $('#submodel_model_predefined').multiselect('refresh');

        }


        function set_frequencySet(object) {

            if (object.value == "empty") {
                string_desc = ""
            } else if (object.value == "fixed") {
                string_desc = "Fixed()"
            } else if (object.value == "gc") {
                string_desc = "GC(theta={real]0,1[})"
            } else if (object.value == "full") {
                string_desc = "Full(theta1={real]0,1[}, theta2={real]0,1[}, ..., thetaN={real]0,1[})"
            }

            document.getElementById("submodel_frequencyset_desc").value = string_desc

        }


        function set_asvrDistribution(object) {

            if (object.value == "constant") {
                string_desc = "Constant"
            } else if (object.value == "gamma") {
                string_desc = "Gamma(n={int>=2})"
            } else if (object.value == "invariant") {
                string_desc = "Invariant(dist={rate distribution description}, p={real[0,1]})"
            } else if (object.value == "others") {
                string_desc = ""
            }

            document.getElementById("submodel_asvr_desc").value = string_desc

        }

        function set_Model(object) {

            switch (object.value) {
                case "JC69":
                    string_desc = "JC69";
                    break;
                case "K80":
                    string_desc = "K80([kappa={real>0}])";
                    break;
                case "F84":
                    string_desc = "F84([kappa={real>0}, theta={real]0,1[}, theta1={real]0,1[},theta2={real]0,1[} ,\"equilibrium frequencies\"])";
                    break;
                case "HKY85":
                    string_desc = "HKY85([kappa={real>0}, theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[} ,\"equilibrium frequencies\"])";
                    break;
                case "T92":
                    string_desc = "T92([kappa={real>0}, theta={real]0,1[} ,\"equilibrium frequencies\"])";
                    break;
                case "TN93":
                    string_desc = "TN93([kappa1={real>0}, kappa2={real>0}, theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[} ,\"equilibrium frequencies\"])";
                    break;
                case "GTR":
                    string_desc = "GTR([a={real>0}, b={real>0}, c={real>0}, d={real>0}, e={real>0}, theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[} ,\"equilibrium frequencies\"])";
                    break;
                case "L95":
                    string_desc = "L95([beta={real>0}, gamma={real>0}, delta={real>0}, theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[} ,\"equilibrium frequencies\"])";
                    break;
                case "SSR":
                    string_desc = "SSR([beta={real>0}, gamma={real>0}, delta={real>0}, theta={real]0,1[}])";
                    break;
                case "RN95":
                    string_desc = "RN95([thetaR={real]0,1[}, thetaC={real]0,1[}, thetaG={real]0,1[}, kappaP={real[0,1[}, gammaP={real[0,1[}, sigmaP={real>1}, alphaP={real>1}])";
                    break;
                case "RN95s":
                    string_desc = "RN95s([thetaA={real]0,0.5[}, gamma={real]0,0.5[}, alphaP={real>1}])";
                    break;


                case "DSO78":
                    string_desc = "DSO78";
                    break;
                case "JTT92":
                    string_desc = "JTT92";
                    break;
                case "WAG01":
                    string_desc = "WAG01";
                    break;
                case "LLG08":
                    string_desc = "LG08";
                    break;
                case "LLG08_EX2":
                    string_desc = "LLG08_EX2([relrate1={real]0,1[}, relproba1={real]0,1[}])";
                    break;
                case "LLG08_EX3":
                    string_desc = "LLG08_EX3([relrate1={real]0,1[}, relrate2={real]0,1[}, relproba1={real]0,1[}, relproba2={real]0,1[}])";
                    break;
                case "LLG08_EH0":
                    string_desc = "LLG08_EHO([relrate1={real]0,1[}, relrate2={real]0,1[}, relproba1={real]0,1[}, relproba2={real]0,1[}])";
                    break;
                case "LLG08_UL2":
                    string_desc = "LLG08_UL2([relrate1={real]0,1[}, relproba1={real]0,1[}])";
                    break;
                case "LLG08_UL3":
                    string_desc = "LLG08_UL3([relrate1={real]0,1[}, relrate2={real]0,1[}, relproba1={real]0,1[}, relproba2={real]0,1[}])";
                    break;
                case "LGL08_CAT":
                    string_desc = "LGL08_CAT(nbCat={[10,20,30,40,50,60]}, [relrate1={real]0,1[}, relrate2={real]0,1[}, ..., relproba1={real]0,1[}, relproba2={real]0,1[}, ...] ))";
                    break;
                case "LGL08_CAT_C":
                    string_desc = "LGL08_CAT_C{[1,...,nbCat]}(nbCat={[10,20,30,40,50,60]})";
                    break;
                case "DSO78_F":
                    string_desc = "DSO78+F([theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[}, ... ,\"equilibrium frequencies\"])";
                    break;
                case "JTT92_F":
                    string_desc = "JTT92+F([theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[}, ..., \"equilibrium frequencies\"])";
                    break;
                case "WAG01_F":
                    string_desc = "WAG01+F([theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[}, ..., \"equilibrium frequencies\"])";
                    break;
                case "LG08_F":
                    string_desc = "LG08+F([theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[}, ..., \"equilibrium frequencies\"])";
                    break;
                case "Empirical":
                    string_desc = "Empirical(name={chars}, file={path})";
                    break;
                case "Empirical_F":
                    string_desc = "Empirical+F(name={chars}, file={path}, [theta={real]0,1[}, theta1={real]0,1[}, theta2={real]0,1[}, ...,  \"equilibrium frequencies\"])";
                    break;

                case "pip":
                    string_desc = "PIP(model={model description}, lambda=0.1, mu=0.2)";
                    break;
                case "ts98":
                    string_desc = "TS98(model={model description}, s1={real>0}, s2={real>0} [, \"equilibrium frequencies\"])";
                    break;
                case "gs01":
                    string_desc = "G01(model={model description}, rdist={rate distribution description}, mu={real>0} [, \"equilibrium frequencies\"])";
                    break;
                case "re08":
                    string_desc = "RE08(model={model description}, lambda={real>0}, mu={real>0} [, \"equilibrium frequencies\"])";
                    break;


                default:
                    string_desc = "";
            }

            document.getElementById("submodel_model_desc").value = string_desc

        }

        function show_inittree_method(object) {

            if (object.value == "user") {
                $("#inittree_method_distance").hide();
                $("#inittree_method_random").hide();
                $("#inittree_method_user").show();


            } else if (object.value == "distance") {
                $("#inittree_method_distance").show();
                $("#inittree_method_random").hide();
                $("#inittree_method_user").hide();


            } else if (object.value == "random") {
                $("#inittree_method_distance").hide();
                $("#inittree_method_random").show();
                $("#inittree_method_user").hide();

            }

        }


        function show_inputDataDistanceMatrix(object) {
            if (object.checked) {
                $("#inputdata_distmatrix_d").hide();
            } else {
                $("#inputdata_distmatrix_d").show();
            }

        }

        function set_RandomBLMethodDesc(object) {

            if (object.value == "equal") {

                string_desc = "Equal(value={float>0})"

            } else if (object.value == "clock") {

                string_desc = "Clock"


            } else if (object.value == "grafen") {

                string_desc = "Grafen(height=\{\{real>0}|input}, rho = {real>0})"

            } else if (object.value == "input") {

                string_desc = "Input(midpoint_root_branch={boolean})"


            }

            document.getElementById("inittree_method_random_bl_desc").value = string_desc

        }

        function show_HillClimbingNumNodes(object) {
            console.log(object.value);
            if (object.value == "hillclimbing") {
                $("#hillclimbing_startnodes_d").show();
            } else {
                $("#hillclimbing_startnodes_d").hide();
            }

        }

        function show_NumDeriv(object) {
            console.log(object.checked);
            if (object.checked) {
                $("#analytical_d").hide();
                $('#option_derivative_analytical').prop('checked', false);
                $("#numerical_d").show();
                $('#option_derivative_numerical').prop('checked', true);
            } else {
                $("#analytical_d").show();
                $('#option_derivative_analytical').prop('checked', true);
                $("#numerical_d").hide();
                $('#option_derivative_numerical').prop('checked', false);

            }
        }

        function show_AnalyticDeriv(object) {
            console.log(object.checked);
            if (object.checked) {
                $("#analytical_d").show();
                $('#option_derivative_analytical').prop('checked', true);
                $("#numerical_d").hide();
                $('#option_derivative_numerical').prop('checked', false);
            } else {
                $("#analytical_d").hide();
                $('#option_derivative_analytical').prop('checked', false);
                $("#numerical_d").show();
                $('#option_derivative_numerical').prop('checked', true);
            }
        }

        function show_TopologyOptimization(object) {
            console.log(object.checked);
            if (object.checked) {
                $("#opt_topology").show();
            } else {
                $("#opt_topology").hide();
            }
        }


        function show_AlignmentOptimization(object){
            if (object.checked) {
                $("#opt_alignment").show();
            } else {
                $("#opt_alignment").hide();
            }
        }


        if (document.getElementById("numopt_method").value == "hillclimbing") {
            $("#hillclimbing_startnodes_d").show();
        } else {
            $("#hillclimbing_startnodes_d").hide();
        }

        $('#inputdata_filename').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            var filename = fileName.replace(/^.*\\/, "");
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(filename);
        })

        $('#inittree_method_user_filename').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            var filename = fileName.replace(/^.*\\/, "");
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(filename);
        })

        $('#inputdata_distmatrix_filename').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            var filename = fileName.replace(/^.*\\/, "");
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(filename);
        })


        // Initialisation of the page components
        $("#inputdata").show();
        $("#tabInput").addClass("page-item active");

        $("#alignment").hide();
        $("#tabAlignment").removeClass("page-item");

        $("#sites").hide();
        $("#tabSites").removeClass("page-item");

        $("#tree").hide();
        $("#tabTree").removeClass("page-item");

        $("#submodel").hide();
        $("#tabModel").removeClass("page-item");

        $("#optimisation").hide();
        $("#tabOpt").removeClass("page-item");

        $("#output").hide();
        $("#tabOutput").removeClass("page-item");

        if($('#inittree_method').find(":selected").text() == "user"){
            $("#inittree_method_distance").hide();
            $("#inittree_method_random").hide();
            $("#inittree_method_user").show();
        }else if ($('#inittree_method').find(":selected").text() == "random"){
            $("#inittree_method_distance").hide();
            $("#inittree_method_random").show();
            $("#inittree_method_user").hide();
        }else if ($('#inittree_method').find(":selected").text() == "distance"){
            $("#inittree_method_distance").show();
            $("#inittree_method_random").hide();
            $("#inittree_method_user").hide();
        }else{
            $("#inittree_method_distance").hide();
            $("#inittree_method_random").hide();
            $("#inittree_method_user").hide();
        }

        if($('opt_topology_execute').checked){
            $("#opt_topology").show()
        }else{
            $("#opt_topology").hide()
        }

        if ($('optalig_algorithm_execute').checked) {
            $("#opt_alignment").show();
        } else {
            $("#opt_alignment").hide();
        }

        if($('option_derivative_numerical').checked) {
            $("#numerical_d").show();
            $("#analytical_d").hide();
        } else {
            $("#numerical_d").show();
            $("#analytical_d").hide();
        }

    </script>

{% endblock %}

