{% extends 'navbar.html' %}

{% block title %}Login{% endblock %}

{% block form %}
    <legend><b>Login</b></legend>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}