{% extends 'base.html' %}

{% block navbar %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/examples/">Examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/about/">About</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item" style="font-size: 100%"><a class="nav-link" href="{% url 'userpage' %}">{{ user.get_username }}</a></li>
                    <li class="nav-item" style="font-size: 80%">
                        <a class="badge badge-secondary" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="badge badge-primary" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
            <a class="navbar-brand my-2 my-lg-0" href="https://bitbucket.org/acg-team/minijati/issues/new">
                <img src="{% static "images/bugs.png" %}" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand my-2 my-lg-0" href="https://bitbucket.org/acg-team/minijati/">
                <img src="{% static "images/bitbucket.png" %}" width="30" height="30" alt="">
            </a>
            {#            <form class="form-inline my-2 my-lg-0">#}
            {#                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
            {#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
            {#            </form>#}
        </div>
    </nav>
{% endblock %}