{% extends 'navbar.html' %}

{% block form %}



    <div class="row">
    <div class="col-md-6">

        <div class="content-fluid" id="summary">
            <legend><b>Analysis submitted!</b></legend>

            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">UID:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ session_id }}</label>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">Data type:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ inputData_alphabet }}</label>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">Sequence file:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ inputData_file }}</label>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">Initial tree:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ inputTree }}</label>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">Infer alignment:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ exec_alignment }}</label>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">Optimise topology:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ exec_optimisation_tree }}</label>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-sm-12" style="margin-bottom:.01rem;margin-top:.01rem;">
                    <label class="col-sm-3" for="inputdata_alphabet">Optimize alignment:</label>
                    <label class="col-sm-5" for="inputdata_alphabet">{{ exec_optimisation_alig }}</label>
                </div>
            </div>
            <hr>
            <div class="content-fluid" id="progressbar">
                Progress: unknown (the page will refresh in 5 seconds)
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>

            <div class="content-fluid" id="output">
                <pre><code style="text-align: left">
                {{ exec_stdout }}
                </code></pre>
            </div>
        </div>
        <hr>
        <div class="alert alert-danger" role="alert" id="errormessage_div">
            <div class="form-check form-check-inline" id="errormessage">
                {{ errorMessage }}
            </div>
        </div>


    </div>

    <script>

        $("#errormessage_div").hide()

        if ($("#errormessage").text().length>33) {
            // length is 0
            $("#errormessage_div").show()
        }


        setTimeout(function(){
            window.location.reload(1);
        }, 5000);
    </script>
{% endblock %}
