{% extends 'navbar.html' %}

{% block form %}
    {% load static %}
    <div class="row">
    <div class="col">

        <div class="content-fluid" id="summary">
            <legend><b>Results</b></legend>

            <div class="form-row align-items-center col-lg" id="output">
                <div class="col-lg-6">
                <pre><code style="text-align: left">
                {{ exec_estimates }}
                </code></pre>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-lg-12">
                    <img src="{% static image_path %}" class="img-fluid" alt="Result rendering">
                </div>
            </div>

            <hr>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group" aria-label="Third group">
                    <a href="{% static package_url %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Download results</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
